1. Crear una tupla que
contenga los números enteros del 1 al 20

In [1]:
numero=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)

In [2]:
print(numero)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

2. Imprimir desde el índice 10 al 15 de la tupla

In [3]:
print(numero[10:16])

(11, 12, 13, 14, 15, 16)

3. Mostrar la cantidad de veces que se encuentra un
elemento específico dentro de la tupla y de la lista (utilizar
count)

In [4]:
numero.count(2)

1

4. Convertir la tupla en una lista

In [5]:
lista=numero

In [7]:
lista1=list(numero)

In [9]:
print(type(lista1))

<class 'list'>

5. Desempaquetar solo los primeros 3 elementos de la tupla en
3 variables

In [10]:
a,b,c,*resto = numero

In [11]:
print(a)
print(b)
print(c)
print(resto)

1
2
3
[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [18]:
a,b,c=numero[:2]

ValueError: not enough values to unpack (expected 3, got 2)

In [13]:
print(a)
print(b)
print(c)

1
2
3

In [19]:
lista2=list(numero[:11])

In [20]:
print(lista2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [22]:
lista2.pop()

11

In [23]:
print(lista2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
lista2.insert(4,15)

In [25]:
print(lista2)

[1, 2, 3, 4, 15, 5, 6, 7, 8, 9, 10]